@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root{
    --primary:#3c45a1;
    --secondary:#006dc7;
    --primaryalt:#42a9fd;
    --secondaryalt:#11003f;
    --shadow:#00000069;
    --white:#ffffff;
    --title:#0074e0;
    --pink:#ffb6c2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    word-spacing: 2px;
}

.App{
    background: linear-gradient(to bottom,var(--primary),var(--secondary));
    color: white;
    min-height: 100vh;
    height: fit-content;
    padding: 1.5rem;
}

.home{
    max-width: 60vh;
    margin: auto;
}

.title{
    color: var(--title);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    background-color: var(--white);
    width: 70%;
    position: relative;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    left: 50%;
    transform: translate(-50%,0);
    margin-bottom: 2rem;
    top: -1.4rem;
    border-radius: 0 0 1.3rem 1.3rem;
    box-shadow: 0px 0px 50px var(--shadow);
}

.hero .stats{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.sec-title{
    color: var(--primaryalt);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.todo{
    background-color: var(--secondaryalt);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-radius: 0.7rem;
    transition: 0.5s ease;
}

.todo-title{
    font-size: 1rem;
}

.todo.isdone{
    text-decoration: line-through;
    color: var(--primaryalt);
    opacity: 0.8;
}

.todo:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.addpopup{
    width: 100%;
    position: fixed;
    bottom: 3rem;
    left: 80%;
}
.addpopup img{
    height: 3rem;
    background-color: var(--primaryalt);
    width: fit-content;
    border-radius: 50%;
    box-shadow: 0px 0px 50px var(--shadow);
    transition: 0.5s ease;
}

.addpopup:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

/* create page */

.createpage-header{
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: space-between;
    margin-bottom: 4rem;
    align-items: center;
}

.createpage-header .createpage-title{
    color: var(--white);
    margin-bottom: 2rem;
}

.createpage-header i{
    color: var(--primaryalt);
    width: fit-content;
    border: 2px solid var(--secondary);
    padding: 0.8rem;
    border-radius: 50%;
}

.createpage{
    display: flex;
    flex-direction: column;
}

.createpage form{
    width: 100%;
    background: linear-gradient(to bottom right, rgba(7, 0, 26, 0.719), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(0.4rem);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    box-shadow:0px 0px 10px var(--shadow);
}

.createpage form label,.createpage form input,.createpage form select,.createpage form .textbox textarea,.createpage .btn-container,.createpage .newdate input::placeholder{
    font-family: 'Montserrat';
    color: var(--primaryalt);
    appearance: none;
    background:none;
    border: none;
    font-size: 1.3rem;
}

.createpage .textbox{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    border-bottom: 2px solid var(--primary);
    align-items: flex-end;
    justify-content: center;
    padding: 0.3rem;
}

.createpage .newdes{
    align-items: flex-start;
}

.createpage form .textbox label{
    position: absolute;
    left: 1rem;
    font-size: 0.8rem;
    color: #838dff;
}

.createpage form .textbox input,.createpage form .textbox select,.createpage form .textbox textarea{
    width: 60%;
    outline: none;
    text-align: center;
    font-size: medium;
    resize: none;
    font-size: 1.2rem;
    overflow: hidden;
}

.createpage .btn-container{
    margin-top: 1rem;
    font-size: medium;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid var(--primary);
    width: 50%;
    padding: 0.3rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.createpage .btn-container i{
    font-size: 1rem;
    margin-left: 1rem;
}

.footer{
    align-self: center;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 0.8rem;
}

.footer i{
    color: red;
}